<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Autores</h1>
    <p>Raquel Vázquez</p>
    <img src="images/foto.jpg" ></img>
  <footer style="background-color:grey;padding:1rem;margin-top:1rem"><a href="https://github.com/RaquelVazquez/quiz" >Proyecto Quiz</a>
  </footer>

  </body>

</html>
