<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Autores</h1>
    <p>Raquel Vázquez Orgeira</p>
    <img src="public/images/foto.jpg" ></img>
  <footer><a href="https://github.com/RaquelVazquez/quiz" >Proyecto Quiz</a>
  </footer>

  </body>

</html>
