<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
  <footer style="background-color:grey;padding:1rem;margin-top:1rem"><a href="https://github.com/RaquelVazquez/quiz" >Proyecto Quiz</a>
  </footer>